@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x5dw3q');
  src:  url('../fonts/icomoon.eot?x5dw3q#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x5dw3q') format('truetype'),
    url('../fonts/icomoon.woff?x5dw3q') format('woff'),
    url('../fonts/icomoon.svg?x5dw3q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-dice:before {
  content: "\e915";
}
.icon-pacman:before {
  content: "\e916";
}
