/*****index.html********/

.navbar-personalizado{
	background-color: #0e7ac4;
	border-radius: 0;
	margin-bottom: 0;
}

.link-personalizado{
	color: white;
	text-shadow: none;
}
.link-personalizado:hover{
	color: white;
}

.nav-personalizado>li>a{
	color: white;
	text-shadow: none;
}

.nav-personalizado>li>a:hover{
	background-color: #0e68b8;
}

.app-bar{
	background: white; 
}

.app-principal{
	background-color: #0e7ac4;
	color: white;
	text-align: center;
}

.app-titulo{
	font-size: 40px;
}

.app-descripcion{
	font-size: 18px;
}

.app-redes{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.app-sociales{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.app-facebook{
	width: 40%;
	display: inline-block;
	margin-right: 20px;
}

.app-twitter{
	width: 40%;
	display: inline-block;
	margin-left: 20px;
}

.btn-facebook{
	background-color: #3e5998;

}

.btn-twitter{
	background-color: #00acde;
}

.btn{
	border-radius: 0 !important;
}

.app-preguntar{
	background-color: #3498bd;
	border-bottom: 6px solid #eceef1;
}

.btn-preguntar{
	color: white;
	background-color: #2ecc71;
	margin-bottom: 16px;
	margin-top: 16px;
}

.app-datos{
	margin-top: 10px;
	font-size: 18px;
	color: white;
	padding-top: 18px;
}

.gl-usuario{
	display: inline-block;
}

.gl-preguntas{
	margin-left: 20px;
	display: inline-block;
}

.app-top{
	margin-top: 10px;
	font-size: 18px;
}

.app-user{
	text-align: center;
	font-size: 18px;
}

.app-img-centrar{
	margin-left: auto;
	margin-right: auto;
}

.app-justificar{
	text-align: justify;
	padding-top: 5px;
	padding-bottom: 5px;
}

.app-textM{
	font-size: 12px;
}

.gl-vistas{
	color: #33b5b5;
	padding-right: 5px;
	font-size: 14px !important;
}

.gl-respuestas{
	color: #2ecc71;
	padding-right: 5px;
	font-size: 14px !important;
}

.gl-votos{
	color: #f39c12;
	padding-right: 5px;
	font-size: 14px !important;
}

.app-etiquetas{
	font-size: 16px;
	color: white;
	background-color: #2ecc71;
	border-bottom: 6px solid #24a159;
	margin-bottom: -8px;
	padding-top: 8px;

}

.label-etiquetas{
	background-color: #333;
}

.app-centrar{
	text-align: center;
}

.app-footer{
	background-color: #0e7ac4;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 20px;
}

/***********Preguntas***********/

.app-userActive{
	width: 100px;
	height: 20px;
}

.app-activado{
	width: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.app-pregunta{
	margin-top: 20px;
	margin-bottom: 30px;
}

.media1{
	margin-bottom: 30px;
}

.dimension{
	resize: none;
}

/*************landing.html*********************/
.mega-dropdown-menu:before{
	border-bottom: 15px solid #fff;
	border-right: 17px solid transparent;
	border-left: 17px solid transparent;
	position: absolute;
	top: -15px;
	left: 239px;
	z-index: 10;
}
.mega-dropdown-menu:after{
	border-bottom: 17px solid #fff;
	border-right: 19px solid transparent;
	border-left: 19px solid transparent;
	position: absolute;
	top: -17px;
	left: 237px;
	z-index: 8;
}



.app-header{
	background: url("../img/img3.jpg") no-repeat center top fixed;
	font-family: "Avenir", Futura, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-bottom: 80px;
}
.app-navbar{
	background: rgba(0,0,0,0.6);
	border-radius: 0;
}
.app-link{
	color: white;
	text-shadow:none;
}
.app-link:hover{
	color: white;
}
.app-nav>li>a{
	color: white;
	text-shadow:none;
}
.app-nav>li>a:hover{
	color: white;
	background-color: black;
}
.app-icon{
	background: white;
}

.app-seccion1{
	width: 60%;
	margin: 0 auto;
	margin-top: 170px;
}
.app-titulo{
	text-align: center;
	color: white;
	font-size: 2.8em;
	margin-bottom: 35px;
}
.app-resaltar{
	color: #0080d6;
}
.app-descripcion{
	text-align: center;
	color: white;
	font-size: 1em;
	margin-bottom: 100px;
}
.app-formulario1{
	width: 100%;
	margin: 0 auto;
}
.app-formulario2{
	padding: 15px 25px 25px 25px;
	background: rgba(0,0,0,0.6);
}
.app-input{
	height: 50px;
	margin-top: 10px;
}
.app-boton{
	margin-top: 10px;
	height: 50px;
	background: #0080d6;
	color: white;
}
.app-boton:hover{
	color: white;
}

.app-seccion2{
	margin: 80px 0;
}
.app-titulo2{
	margin-top: 0;
}
.app-separador{
	width: 100px;
	border-bottom: 1px solid #0080d6;
	margin-top: 20px;
	margin-bottom: 20px;
}
.app-justificar{
	text-align: justify;
	color: #727272;
}
.app-media{
	margin-top: 40px;
}
.app-glyphicon1{
	background-color: #0080d6;
	color: white;
	font-size: 30px;
	padding: 10px;
}

.app-seccion3{
	background: #f7f8fa;
	padding: 80px 0;
}

.app-contenedor{
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
}
.app-separador2{
	width: 100px;
	border-bottom: 1px solid #0080d6;
	margin: 20px auto;
}
.glyphicon2{
	color: #0080d6;
	font-size: 60px;
}
.app-descripcion2{
	color: #727272;
}
.app-lista1{
	background-color: #323232;
	color: white;
	text-align: center;
}
.app-lista2{
	background-color: #0080d6;
	color: white;
	text-align: center;
}
.app-precio{
	text-align: center;
}
.app-pago{
	font-weight: bold;
	margin-right: 30px;
}
.app-btn1{
	background-color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid black;
}
.app-btn2{
	background-color: #0080d6;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
}

.app-video{
	margin: 0 auto;
}

.app-footer{
	text-align: center;
	background: #f7f8fa;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 100px 0;
}
.app-empresa{
	margin-bottom: 50px;
}
.app-icon1{
	background-color: #919191;
	color: white;
	padding: 10px;
	border-radius: 4px;
	margin-left: 10px;
}


@media (max-width: 768px){
	.app-seccion1{
		width: 90%;
	}
	.app-titulo{
		font-size: 1.8em;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.app-descripcion{
		font-size: 0.8em;
		margin-bottom: 50px;
	}
}